
{% extends "layout.html" %}
{% block content_db %}
	<h2> Les automates enregistrés </h2>
	<table class="table table-responsive table-sm table-dark">
		<tr>
			<th>ID </th>
			<th>Nom de l'automate</th>
			<th>Modèle </th>
			<th>Marque</th>
			<th>Type de Bassin</th>			
		    <th>Site physique </th>
		    <th>Configuration </th>
		</tr>
	{% for n in automates %}
		<tr>
			<td> {{n._id}} </td>
			<td> {{n.name}} </td>
			<td> {{n.model}} </td>
			<td> {{n.brand}} </td>
			<td> {{n.pool}} </td>
			<td> {{n.physical_area}} </td>
			<td> {{n.configuration}} </td>
			<td> 
				<form method="post">
					<input type="hidden" name="id" value="{{n._id}}">
					<input type="submit" name="update" formaction="/edit" value="Editer">
				</form>
			</td>
			<td> 
				<form method="post">
					<input type="hidden" name="id" value="{{n._id}}">
					<input type="submit" name="remove" formaction="/remove" value="Supprimer">
				</form>
			</td>
 		</tr>
	{% endfor %}
		<tr>
 			<td colspan="9">  
 				<form method="post" class="mx-auto">
					<input type="submit" name="add" formaction="/new" value="Ajouter un nouveau automate ...">
				</form>
 			</td>
 		</tr>
</table>
{% endblock %}
